@import "tailwindcss";

/* Floating Love Animation */
.love {
  position: absolute;
  font-size: 1.8rem;
  opacity: 0;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(20px) scale(0.8);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(-60px) scale(1.2);
    opacity: 0;
  }
}
